<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clientID</key>
	<string>511894b34ff01aed0670f975b6d63de5c5662b79e03642cc0a1b761f59614ac3</string>
	<key>clientSecret</key>
	<string>71478551681faff8bf8ffc035e8e573afc9b986a80bf5ce047aa11171dd6dbc9</string>
	<key>testUserToken</key>
	<string>5dc238aca744d4fbf87007e7eee16d774cfb20b80b1020a88fd19fa530167e66</string>
	<key>apiServerURL</key>
	<string>http://api-server.dev/</string>
	<key>apiEndpoint</key>
	<string>api/v1</string>
	<key>keychainServiceName</key>
	<string>Tidepool</string>
</dict>
</plist>
